<header>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/login">LOGIN</a></li>
    </ul>
</header>
<style>
    header{
        width: 100%;
        background-color: black;
    }
    header>ul {
        display: flex;
    }

    header>ul>li {
        padding: 10px;
    }

    header>ul>li>a {
        color: white;
    }
</style>