/* --- 기본(단일) 선택자 */
/* 태그 선택자 : 태그 이름 사용 */
li {
  color: red;
}
/* 클래스 선택자 : .클래스이름 */
.orange {
  color: orange;
}
/* 아이디 선택자 : #아이디이름 */
#blue {
  color: blue;
}

/* --- 복합 선택자 --- */
/* 일치 선택자 : 선택자선택자 */
span.orange {
  background-color: yellow;
}

/* 자식 선택자 : 선택자 > 선택자 */
ul > .orange {
  background-color: red;
}

/* 하위 선택자 : 선택자 선택자 */
div .orange {
  text-decoration: line-through;
}

/* 인접 형제 선택자 : 선택자 + 선택자 */
.orange + li {
  color: gold;
}

/* 일반 형제 선택자 : 선택자 ~ 선택자 */
.orange ~ li {
  background-color: aqua;
}

/* --- 가상 클래스 선택자 --- */
/* hover : 마우스를 올리고 있는 동안 */
a:hover {
  color: white;
  background-color: black;
}
/* active : 클릭하고 있는 동안 */
a:active {
  background-color: red;
}
/* focus : foucus가 있는 동안 */
input:focus {
  background-color: grey;
}

/* first-chile : ABC가 형제 요소 중 첫째라면 선택 */
.fruits span:first-child{
    color: red;  
  }

.fruits div:first-child{
  color: orange;
}

/* last-child : ABC가 형제 요소 중 막내라면 선택*/
.fruits h3:last-child{
color: red;
}

/* nth-child(n) : ABC가 형제 요소 중 (n)째라면 선택 */
.fruits *:nth-child(2){
color: aqua;
}

.fruits *:nth-child(2n){
/* n은 0부터 시작한다. */
background-color: yellow;
}

.fruits *:nth-child(2n+1){
background-color: green;
}

/* not : ABC:not(XYZ) -> XYZ가 아닌 ABC 요소 선택 */
.fruits *:not(span){
text-decoration: line-through;
}

/* 가상요소 선택자 */
/* before : 요소 앞에 */
.fruits::before{
content: "과일 목록 시작!"
}

/* after : 요소 뒤에 */
.fruits::after{
content: "과일 목록 끝!"
}

[readonly] {
background-color: lightgray;
}

input:not([placeholder]){
background-color: blue;
}