.orange{
    background-color: orange; 
    width:auto; height:200px;
 }
 .orange div{
     width: 200px;
     height: 100px;
     display: inline-block;
     margin-right: 30px;
 }
 .orange div:nth-child(1){
     background-color: skyblue;
 }
 .orange div:nth-child(2){
     background-color: green;
 }
 .orange div:nth-child(3){
     background-color: red;
 }


/* box-size */
.box{
    width: 100px;
    height: 100px; 
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}

.content-box{
    box-sizing: content-box;
}

.border-box{
    box-sizing: border-box;
}

/* 5번 */
.box2{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.box2:hover{
    opacity: 0;
}