<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<!-- axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<style>
    .success {
        color: blue;
        font-weight: 700;
    }

    .error {
        color: red;
        font-weight: 700;
    }
</style>
<body>
    <h1>LOGIN</h1>
    <a href="/">HOME</a>
    <form name="login">
        <fieldset>
            <legend>ID</legend>
            <input type="text" name="userid" id="userid">
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <input type="text" name="userpw" id="userpw">
        </fieldset>
        <button type="button" onclick="clickLogin()">로그인</button>
    </form>

    <div class="loginResult"></div>
    

    <script>
        const loginResult = document.querySelector(".loginResult");

        function clickLogin(){
            const form = document.forms["login"];

            const data = {
                id: form.userid.value,
                pw: form.userpw.value,
            };

            axios({
                method: "post",
                url: "/login-result",
                data: data,
            }).then((res) => {
                console.log(res.data);
                if(res.data.isSuccess) {
                    loginResult.textContent = `${res.data.userInfo.id}님! 로그인 성공!`;
                    loginResult.classList.remove("error");
                    loginResult.classList.add("success");
                } else {
                    loginResult.textContent = `아이디 또는 패스워드 오류`;
                    loginResult.classList.remove("success");
                    loginResult.classList.add("error");
                }
                
            });
        }
    </script>
</body>
</html>